<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scu.xing.myapplication">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".secondActivity"></activity>
        <activity android:name=".ThreeActivity"></activity>
        <activity android:name=".CalculateActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity android:name=".ToastActivity"></activity>
        <activity android:name=".TongzhiActivity"></activity>
        <activity android:name=".CaidanActivity"></activity>
        <activity android:name=".ListViewActivity"></activity>
        <activity android:name=".NextActivity"></activity>
        <activity android:name=".ShareprefActivity"></activity>
        <activity android:name=".SaveNamePassActivity"></activity>
        <activity android:name=".SqliteActivity"></activity>
        <activity android:name=".SqliteHelperActivity"></activity>
        <activity android:name=".CreateFileActivity"></activity>
        <activity android:name=".WriteReadFileActivity"></activity>
        <activity android:name=".CtpActivity"></activity>
        <activity android:name=".CtpwActivity"></activity>
        <activity android:name=".GuangboActivity"></activity>
        <activity android:name=".ServiceActivity"></activity>
        <activity android:name=".SystemServiceActivity"></activity>
        <activity android:name=".GestureActivity1"></activity>
        <activity android:name=".GestureActivity2"></activity>
        <activity android:name=".GestureActivity3"></activity>

        <receiver android:name=".BCReceiver">
            <intent-filter
                android:priority="1">
                <action android:name="BC_One"></action>
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name=".BCReceiver2">
            <intent-filter
                android:priority="2">
                <action android:name="BC_One"></action>
            </intent-filter>
        </receiver>
        -->
        <service android:name=".MyStartService"></service>
        <service android:name=".MyBindService"></service>
    </application>

</manifest>